*{
    margin: 0;
    padding: 0;
}



.Container{
   box-sizing: border-box;
    display: flex;
    padding: 20px;
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: rgb(44, 44, 44) 3px 3px 6px 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: 0.4s, top 0.4s;
}

.head h2{
    color: #000;

/* H2 */
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}

.content__Container>.top{
    display: flex;
    gap: 10px;
    border-radius: 15px 15px 0px 0px;
    background: #F5F5F5;
    margin: 30px 0 -10px 0;
}

.content__Container> .top> .text{
    line-height: 25px;
}

.content__Container> .top> .text h3{
    color: #000;

    /* H3 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__Container >.top img{
    background: #ffffff;
    border-radius: 50%;
  
}

.content__Container> .top .text h4{
    color: rgba(46, 14, 14, 0.5);

    /* H4 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.virtual__Account{
    border-radius: 0px 0px 30px 30px;
    background: #FFC107;
    width: auto;
    height: 110px;
    margin: 40px 0;
}

.virtual__Account >.virtual__Account.top{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 4px 8px;
}

.card__number{
    border-radius: 15px;
    background: rgba(0, 100, 0, 0.75);
    width: 120px;
    position: relative;
    top: -60px;
    margin: -45px 10px;
    padding: 5px;
    
}

.card__number h4{
    color: #fff;
    display: flex;
    gap: 15px;
}

.card__number h4 img{
    cursor: pointer;
}

.bottom__card{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 20px 0;
}

.bottom__card > .text h3{
    color: #000;

/* H3 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bottom__card > .text h4{
    color: rgba(0, 0, 0, 0.50);

/* H4 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bottom__card a img{
   position: relative;
   right: -7px;
}
.or{
    text-align: center;
    margin: 15px 25px;
}

.or h4{
    color: #000;

/* H3 */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
background: #fff;
top: 12px;
width: 30px;
left: 160px;
}

.heading{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10rem;
}

.heading img{
    cursor: pointer;
    height: 15px;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.next-open{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


.conc#blur.active{
    filter: blur(20px);
    pointer-events: none;
}

.close-popup{
    filter: none;
}

.container__amount{
    box-sizing: border-box;
    width: fit-content;
    padding: 30px;
    margin: 20px;
    background: #FFF;
    box-shadow: rgb(44, 44, 44) 3px 3px 6px 1px;
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: 0.4s, top 0.4s;
    position: absolute;
    display: flex;
    align-items: center;
}

.amount__top h3{
    color: #000;

    /* H2 */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.amount__top{
    display: flex;
    gap: 100px;
    
}
.Enter input{
    padding: 15px 70px;
    border-radius: 15px;
    border: 1px solid #006400;
    background: #E5E5E5;
    width: 350px;
    font-size: 19px;
    margin-top: 20px;
}

.Enter img{
    position: absolute;
    top: 107px;
    left: 60px;
    opacity: 30%;
    height: 20px;
}

.btn button{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 5px 20px;
    margin: 20px 100px;
    border-radius: 4px;
    border: 1px solid #FFC107;
    cursor: pointer;
}

#first{
    padding: 10px;
    width: 340px;
    border-radius: 4px;
    background: #FFC107;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}


input[type="number"] {
   -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.card__add > .top{
    display: flex;
     gap: 8rem;
}

.inputs h4{
    color: #000;

    /* H4 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 8px;
}

#card{
    border-radius: 15px;
    border: 1px solid #006400;
    background: #E5E5E5;
    padding: 14px;
    width: 467px;
    text-align: center;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.expiry__date input{
    padding: 20px 2px;
    width: 100px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #006400;
    background: #E5E5E5;
    height: 20px;
}

.expiry__date h2{
    font-size: 40px;
}

.expiry__date{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.cvv input{
    width: 200px;
    padding: 20px 10px;
    border-radius: 15px;
    border: 1px solid #006400;
    background: #E5E5E5;
    margin: 10px 0;
}

.Full{
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

#pin{
    padding: 20px 2px;
    width: 480px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #006400;
    background: #E5E5E5;
    height: 20px;
    margin: 3px;
}

.pin{
    margin: 30px 0;
}

.btnn button{
    padding: 16px;
    border-radius: 4px;
    background: #FFC107;
    width: 483px;
    cursor: pointer;
}

.card__add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: rgb(44, 44, 44) 3px 3px 6px 1px;
    width: fit-content;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: 0.4s, top 0.4s;
}

.card__sucess{
    display: inline-flex;
    padding: 20px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: rgba(184, 184, 184, 0.233) 3px 3px 6px 1px;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: 0.4s, top 0.4s;
}

.open-success{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


.card__sucess h4{
    color: #000;
    text-align: center;

    /* H3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__sucess h5{
    color: rgba(0, 0, 0, 0.50);
text-align: center;

/* H5 */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.close-success{
    visibility: hidden;
}